<%- include('partials/header.ejs')  %>
<div class="container" style="padding-top: 2rem;">
    <h1 style="text-align: center;  padding: 4px; font-size: 2.5rem; margin-top: 55px; padding-bottom: 20px;"><b>News And Events</b></h1>
</div>
        
 <!--CARDS START--> 
 <% if(data.length){
    for(var u = 0; u< data.length; u++) {%> 
<div class="col-10" style=" padding-left: 2rem;">
    <div class="row clearmargin clearpadding row-image-txt" data-aos="slide-right" data-aos-duration="1100"  style=" background: #fff;  width: 118%; border-radius: 4px;">
        <div class="col-xs-12 col-sm-6 col-md-6 clearmargin clearpadding col-sm-push-6"><br>
            <img src="/NewsandEvents/<%= data[u].image%>" alt="" style=" width: 500px; height:350px; background-position:center; margin: 0px; border-radius: 4px;"> 
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding:40px;/*border-right:orange 3px solid; border-top:orange 3px solid;*/text-align: center;">
            <h4 style="font-family: bell;"><%= data[u].title %></h4>
            <hr>
            <p><%=data[u].description %></p><br>
            <div style="text-align:center"></div>
        </div>        
</div><br>
</div>
<% }
                                     
}else{ %>
    <tr>
       <td colspan="3">No Machines Found</td>
    </tr>
 <% } %>

<%- include('partials/footer.ejs') %>
</body>

</html>