<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SFL</title>
    <base href='/'>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
   <style>
     .popup-box{
	display: none;
	position: fixed;
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
	left: 0;
}

.popup-inner{
	max-width: 500px;
	min-height: 250px;
	background: white;
  border-radius: 25px;
	padding: 15px;
	margin: auto;
	top: 25%;
	position: relative;
}



.popup-msg{
	font-weight: bold;
	color: black;
	padding: 20px 20px 0 20px;
}

.next-step-btn{
	margin:20px auto 0;
  background: linear-gradient(rgb(235, 139, 31), rgb(223, 148, 35));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#015eab', endColorstr='#10276b');
	border: none !important;
	padding: 10px 40px !important;
	color: #fff !important;
	font-weight: bold;
	border-radius: 34px;
	cursor: pointer;
}

.transparent-layer{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.3;
overflow: hidden;


}
a{
text-decoration: none;
}
.popUpShow {
transform: scale(1,1);
}
.btnClose {
color: rgb(201, 117, 39);
float: right;
 font-size: 30px;
  padding: 7px;
}

.btnClose:hover {
  color: #FFDD00;
  
  
}
.main {
    margin-top: 2%;
    margin-left: 29%;
    font-size: 28px;
    padding: 0 10px;
    width: 58%;
    font: bell;
}

.main h2 {
    color: #333;
    font-family: bell;
    font-size: 24px;
    margin-bottom: 10px;
}

.main .card {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
}

.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
}

.edit {
    position: absolute;
    color: #e7e7e8;
    right: 14%;
}

   </style>
<body>  

    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button fixed-top navbar-transparency" style=" font-family: bell; font-size: 18px;">
        <div class="container"><img id="logo" src="assets/img/logo.png" height="70px" style="padding-right: 4rem;"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>

                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Machine</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="machine">Carpentry lab</a><a class="dropdown-item" href="electronic">Electronic lab</a><a class="dropdown-item" href="heaveymachine">Heavy machinary lab</a><a class="dropdown-item" href="metal">Metal work lab</a><a class="dropdown-item" href="booking">Booking</a></div>
                    </li>

                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Program </a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="program">Education program</a><a class="dropdown-item" href="trainingprogram">Training program</a><a class="dropdown-item" href="research">Research and Development</a></div>
                    </li>

                    <li class="nav-item"><a class="nav-link" href="service">Services</a>

                    <li class="nav-item"><a class="nav-link" href="announ">News And Events</a>

                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">About us</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="about">The story of sfl</a><a class="dropdown-item" href="about">Meet the team</a><a class="dropdown-item" href="about">Virtual tour</a><a class="dropdown-item" href="gallery">Gallery</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="profile">Profile</a>


                </ul>
            </div>
                                    
                        

        </div>
    </nav>
<br><br><br>

  <div class="container">
    <!-- show a dialog if user is not verified  -->

    <% if(!verified){ %>
      <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <strong>ATTENTION !</strong> Please verify your account to continue using our services.
        <a href="/user/send-verification-email">Re-send Verification Email</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

      </div>
      <% } %>

        <% if(typeof emailsent !='undefined' ){ %>
          <% if(emailsent){ %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>SUCCESS</strong> Verification Email Sent Sucessfully. Valid Only for 20 minutes.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>

            <% } %>
              <% } %>
                <% if(typeof err !='undefined' ){ %>
                  <% if(err){ %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <strong>ERROR </strong>
                      <%= err %>.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                    </div>

                    <% } %>
                      <% } %>

                      <!DOCTYPE html>
                      <html lang="en">
                      <head>
                          <meta charset="UTF-8">
                          <meta name="viewport" content="width=device-width, initial-scale=1.0">
                          <title>Profile Page</title>
                      
                          <!-- Custom Css -->
                          <link rel="stylesheet" href="style.css">
                      
                          <!-- FontAwesome 5 -->
                          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
                      </head>
                      <body>
                          <!-- Main -->
                          <div class="main">
                              <h2>Profile</h2>
                              <div class="card">
                                  <div class="card-body">
                                      <i class="fa fa-pen fa-xs edit"></i>
                                      <table>
                                          <tbody>
                                              <tr>
                                                  <td>Name</td>
                                                  <td>:</td>
                                                  <td><%= username%></td>
                                              </tr>
                                              <tr>
                                                  <td>Email</td>
                                                  <td>:</td>
                                                  <td><%= email%></td>
                                              </tr>
                                              <tr>
                                                  <td>Address</td>
                                                  <td>:</td>
                                                  <td><%= schoolName%></td>
                                              </tr>
                                              <tr>
                                                  <td>Phone Number</td>
                                                  <td>:</td>
                                                  <td><%= phoneNumber%></td>
                                              </tr>
                                              
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                      
                              
                          </div>
                          <!-- End -->
                      </body>
                      </html>

  </div>
  <div class="popup-box" id="hid" style="display: block; visibility: hidden">
    <div class="transparent-layer"></div>
    <div class="popup-inner" >
      <div class="btnClose"><a href="/profile"><i class="fa fa-window-close" aria-hidden="true"></i></a>
      </div>

      <div class="popup-msg"> <p>Thank you for becoming our member.To complete our registration process please enroll for the induction program</p></div>
      
      <button class="next-step-btn" ><a href="/booking">Enroll for Induction Training</a></button></div>

  </div>
 

    <script>
      function showIt() {
  document.getElementById("hid").style.visibility = "visible";
}
setTimeout("showIt()", 3000); // after 3 seconds

    </script>
</body>

</html>