<%- include('../partials/header.ejs')  %>
                <!-- End of Topbar -->
                <table class="table table-bordered" style="padding-left:30px ;">
                    <thead class="thead-dark">
                      
                        <h2><b>Edit Students</b></h2>
                        <form class="row g-3 needs-validation" method="POST" action='/<%= result._id %>'> 
                       

                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <label for="floatingInput">User Name</label>
                                  <input type="text" class="form-control" id="floatingInput" value="<%= result.username %>"  name="username">
                                  
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="form-floating mb-3">
                                    <label for="floatingInput">School Name</label>
                                  <input type="text" class="form-control" id="floatingInput" value="<%= result.schoolName %>" name="schoolName">
                                  
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="form-floating mb-3">
                                    <label for="floatingInput">Email</label>
                                  <input type="email" class="form-control" id="floatingInput" value="<%= result.email %>"  name="email">
                                
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="form-floating mb-3">
                                    <label for="floatingInput">Phone</label>
                                  <input type="text" class="form-control" id="floatingInput" value="<%= result.phoneNumber %>" name="phoneNumber">
                                  
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="form-floating mb-3">
                                    <label for="floatingInput">Files</label>
                                  <input type="file" class="form-control" id="floatingInput" value="<%= result.files %>"  name="files">
                                  
                                </div>
                              </div>
                              <div class="form-check form-check-inline" style="margin-left: 70px;">
                                <input class="form-check-input" type="radio" name="gender" id="gender" value="<%= result.gender %>" checked>
                                <label class="form-check-label" for="inlineRadio1">Male</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="gender" value="<%= result.gender %>">
                                <label class="form-check-label" for="inlineRadio2">Female</label>
                              </div>
                              <br>
                              <div class="form-check form-check-inline" style="margin-left: 70px;">
                                <input class="form-check-input" type="checkbox" name="isChecked" id="isChecked" value="<%= result.isChecked %>">
                                <label class="form-check-label" name= "isChecked" for="inlineRadio1">True</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="isChecked" id="isChecked" value="<%= result.isChecked %>" checked>
                                <label class="form-check-label"name= "isChecked" for="inlineRadio2">False</label>
                              </div>
                              
                             
                              <div class="col-12 d-grid">
                                <button class="btn btn-primary" type="submit">Submit</button>
                              </div>
                          </form>
                         
                    </thead>
                    
                  </table>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Super FabLab 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="team-logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="assets/admin_assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/admin_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="assets/admin_assets/js/sb-admin-2.min.js"></script>



</body>

</html>